.perifericos{
    color: #0741ACff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perifericos__titulo{
    font-size: 6rem;
    font-weight: 1000;
    text-align: center;
    margin: 20px
}

.perifericos__p{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 20px
}

.perifericos img{
    width: 40%;
}

.perifericos__items{
    width: 100%;
}

.perifericos__items img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    object-fit: cover;
}