.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #2657B4ff;
    gap: 10px 20px;
    height: 80vh;
}

.user__title{
    font-size: 2rem;
    font-weight: bold;
}

.user__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #2657B4ff;
    gap: 10px 20px;
}

.user__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    background-color: #2657B4ff;
    color: #eee;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 7px;
    padding: 13px;
    width: 200px;
}

.user__button:hover{
    background-color: #2657B4ff;
    color: #eee;
}

.user__input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    background-color: #2657B4ff;
    color: #eee;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 7px;
    padding: 13px;
    width: 200px;
}

.user__input:hover{
    background-color: #2657B4ff;
    color: #eee;
}

.user__input:focus{
    background-color: #2657B4ff;
    color: #eee;
}

.user__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    background-color: #2657B4ff;
    color: #eee;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 7px;
    padding: 13px;
    width: 200px;
    text-decoration: none;
}