.item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    padding: 20px;
    background-color: rgba(255, 255, 255, .3);
    color: #2657B4ff;
    border-radius: 10px;
    margin: 10px;
    gap: 20px;
}

.item__title{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 900;
}

.item__container__datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item__container__img{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__img{
    width: 100%;
}

.item__precio{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 800;
}

.item__stock{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 800;
}

.item__container__link{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__link{
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    font-weight: 1000;
    background-color: #2657B4ff;
    color: #eee;
    padding: 10px;
    border-radius: 10px;
    height: 75px;
    width: 100%;
}

.item__link:hover{
    background-color: #eee;
    color: #2657B4ff;
}

.item__link:active{
    background-color: #2657B4ff;
    color: #eee;
}