.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, .3);
    color: #2657B4ff;
    border-radius: 10px;
    margin: 10px;
}

.item__title{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 900;
}

.item__image{
    width: 100%;
    margin: 10px 0;
}

.item__precio{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 800;
}

.item__stock{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 800;
}